<div class="widgets">
     
  <div class="row">
      <div ba-panel ba-panel-title="任务列表" ba-panel-class="light-text" st-table="displayedCollection" st-safe-src="rowCollection">
         
          <input st-search=""  type="text" class="form-control" placeholder="Search ..."/>
          
          <br/>
          <table  class="table table-hover table-bordered">
              <thead>
                <tr class="sortable black-muted-bg">
                    <th st-ratio="10">序号</th>
                    <th st-ratio="30" st-sort="name">项目评审名称</th>
                    <th st-ratio="20" st-sort="type">标准库类型</th>
                    <th st-ratio="20" st-sort="description">状态</th>
                    <th st-ratio="10" st-sort="createTime" style="min-width: 160px;">创建时间</th>
                    <th st-ratio="10" style="min-width: 160px;">操作</th>
                </tr>
            </thead>
            <tbody ng-show="isLoading">
                <tr>
                  <td colspan="7" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tbody ng-show="!isLoading" >
                <tr ng-repeat="row in displayedCollection">
                   <td>{{$index+1}}</td>
                   <td>{{row.name}}</td>
                   <td>{{row.type}}</td>
                   <td>{{row.status | translate:'evaluationStatus'}}</td>
                   <td>{{row.createTime}}</td>
                   <td>
                      <a href="javascript:void(0);" ng-click="toDeal(row)" style="font-size: 20px;"><i class="ion-android-create"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="viewTask(row)" style="font-size: 20px;"><i class="ion-eye"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="toLog(row)" style="font-size: 20px;"><i class="ion-ios-list-outline"></i></a>
                  </td>
                </tr>
                
            </tbody>
          </table>
          <div st-items-by-page="10" st-pagination="" st-template="app/theme/components/page/pagination.custom.html"></div>
      </div>
  </div>

  
</div>