<style>
    .lo
</style>

<div class="widgets">
    <div class="row">
        <div ba-panel ba-panel-title="任务处理" ba-panel-class="light-text">
            <form class="form-horizontal" name="form" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <table tt-table tt-params="expanded_params" id="treeTable">
                            <thead>
                            <tr>
                                <th>Chapter</th>
                                <th>Question</th>
                                <th style="min-width: 80px;">Status</th>
                                <th style="width:150px;">Severity</th>
                            </tr>
                            <tr ng-hide="treeTableEnd==true">
                                <td colspan="4">加载中...</td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-body">
                <div class="row" id="levelContent">
                </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="save()" ng-if="roles.indexOf('ciso')>-1 || roles.indexOf('liaison')>-1" ng-disabled="lastNode.status!='0' && lastNode.status!='1'">保存</button>
                    <button type="button" class="btn btn-success" ng-click="commit()"  ng-if="roles.indexOf('liaison')>-1" ng-disabled="lastNode.status!='0' && lastNode.status!='1'">提交</button>
                    <button type="button" class="btn btn-success" ng-click="reviewed()"  ng-if="roles.indexOf('ciso')>-1"  ng-disabled="lastNode.status=='3'">复核</button>
                    <button type="button" class="btn btn-primary" ng-click="goBack()">返回</button>
                </div>
            </form>
        </div>   
    </div>
</div>

<script type="text/ng-template" id="tree_node.html">
    <tr tt-node is-branch="node.type == 'vda_chapter'" ng-click="questionClick($event,node)" vdaType="{{node.type}}">
        <td><span ng-bind="node.type=='vda_chapter' ? node.name : ''"></span></td>
        <td  ng-bind="node.type=='vda_question' ? node.name : ''"></td>
        <td >
            <span ng-if="node.type=='vda_question'" ng-bind="node.status | translate:'evaluationQuestionNodeStatus'"></span>
        </td>
        <td >
            <ui-select ng-model="$parent.node.severityLevel" id="severityLevel" name="severityLevel" required ng-if="node.type=='vda_question'"
                      ng-disabled="node.status!='0' && node.status!='1'"
                      class="btn-group bootstrap-select form-control"
                      search-enabled="false">
              <ui-select-match>
                <span> {{$select.selected.label}}</span>
              </ui-select-match>
              <ui-select-choices repeat="item.value as item in severityLevelSelect | filter: $select.search">
                <span ng-bind-html="item.label"></span>
              </ui-select-choices>
          </ui-select>
            
        </td>
    </tr>
</script>

<script type="text/ng-template" id="levelContent.html">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="{{item.name}}" ng-repeat="item in levels" select="levelSelect(item)">
            <div class="levelApprovled">
                <div class="label">Level Approvled :</div>
                <ba-switcher switcher-style="primary" switcher-value="item.levelIsApproved" switcher-label="Yes,No"  switcher-disabled="{{lastNode.status!='0' && lastNode.status!='1'}}"></ba-switcher>
            </div>
            <div id="levelTable-{{item.id}}"></div>
        </uib-tab>
    </uib-tabset>
</script>
<script type="text/ng-template" id="level_tree.html">
    <table tt-table tt-params="level_table_params" id="levelTable{{item.id}}" style="margin-top:0px;">
        <thead>
        <tr>
            <th>Control</th>
            <th style="width:200px;">Compliance Level</th>
            <th >Evidences</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>
<script type="text/ng-template" id="level_tree_node.html">
    <tr tt-node is-branch="node.children.length!=0">
        <td><span ng-bind="node.name"></span></td>
        <td >
            <ui-select ng-model="$parent.node.complianceLevel" ng-if="node.children.length==0"
                        ng-disabled="lastNode.status!='0' && lastNode.status!='1'"
                        class="btn-group bootstrap-select form-control"
                        search-enabled="false">
                <ui-select-match>
                <span> {{$select.selected.label}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item.value as item in complianceLevelSelect | filter: $select.search">
                <span ng-bind-html="item.label"></span>
                </ui-select-choices>
            </ui-select>
        </td>
        <td style="text-align:center;">
            <button class="btn btn-with-icon" type="button" 
                ng-disabled="lastNode.status!='0' && lastNode.status!='1'"
                ng-if="node.children.length==0" ng-click="openEvidences(node)"><i class="ion-paperclip"></i> evidences</button>
        </td>
    </tr>
</script>