<div class="widgets">
    <div class="row">
        <div ba-panel ba-panel-title="任务处理" ba-panel-class="light-text">
            <form class="form-horizontal" name="form" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <table tt-table tt-params="expanded_params" id="treeTable">
                            <thead>
                            <tr>
                                <th>Chapter</th>
                                <th>Question</th>
                                <th>Status</th>
                                <th style="width:150px;">Severity</th>
                            </tr>
                            <tr ng-hide="treeTableEnd==true">
                                <td colspan="4">加载中...</td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-body">
                <div class="row" id="levelContent">
                    
                </div>
                </div>

                <div class="modal-footer">
                   <button type="button" class="btn btn-primary" ng-click="goBack()">返回</button>
                </div>
            </form>
        </div>   
    </div>
</div>

<script type="text/ng-template" id="tree_node.html">
    <tr tt-node is-branch="node.type == 'vda_chapter'" ng-click="questionClick($event,node)" vdaType="{{node.type}}">
        <td><span ng-bind="node.type=='vda_chapter' ? node.name : ''"></span></td>
        <td  ng-bind="node.type=='vda_question' ? node.name : ''"></td>
        <td >
            <span ng-if="node.type=='vda_question'" ng-bind="node.status | translate:'evaluationQuestionNodeStatus'"></span>
        </td>
        <td >
            {{node.severityLevel | translate:'severityLevel'}}
        </td>
    </tr>
</script>

<script type="text/ng-template" id="levelContent.html">

    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="{{item.name}}" ng-repeat="item in levels" select="levelSelect(item)">
            <div class="levelApprovled">
                <div class="label">Level Approvled : {{item.levelIsApproved | translate:'levelApproved'}}</div>
            </div>
            <div id="levelTable-{{item.id}}"></div>
        </uib-tab>
    </uib-tabset>
</script>
<script type="text/ng-template" id="level_tree.html">
    <table tt-table tt-params="level_table_params" id="levelTable{{item.id}}" style="margin-top:0px;">
        <thead>
        <tr>
            <th>Control</th>
            <th style="width:200px;">Compliance Level</th>
            <th>Evidences</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>
<script type="text/ng-template" id="level_tree_node.html">
    <tr tt-node is-branch="node.children.length!=0">
        <td><span ng-bind="node.name"></span></td>
        <td >
            <span ng-if="node.children.length==0">{{node.complianceLevel|translate:'complianceLevel'}}</span>
        </td>
        <td >
            <div ng-if="node.children.length==0">
                <p ng-repeat="item in node.attachments">
                    <a ng-bind="item.name" route-href='/attachemnt/download/{{item.id}}'></a>
                </p>
            </div>
        </td>
    </tr>
</script>