<div class="modal-content">
  <div class="modal-header bg-success">
    <i class="ion-checkmark modal-icon"></i><span> password hint</span>
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
  </div>
  <div class="modal-body text-center">
    The password for the user [{{user.username}}] is:<code>{{user.password}}</code>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">OK</button>
  </div>
</div>


