<div class="modal-content">
  <div class="modal-header bg-success">
    <i class="ion-checkmark modal-icon"></i><span> 密码提示</span>
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
  </div>
  <div class="modal-body text-center">
     用户[{{user.username}}]的密码是:<code>{{user.password}}</code>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">OK</button>
  </div>
</div>


