<div class="widgets">
     
  <div class="row">
    <div class="col-md-3">
        <div ba-panel ba-panel-title="部门树" ba-panel-class="with-scroll light-text">
            <div js-tree="deptTreeConfig" ng-model="deptData" tree-events-obj="deptTreeEvents" tree="model.deptTree"></div>
        </div>
    </div>
    <div class="col-md-9">
      <div ba-panel ba-panel-title="用户列表" ba-panel-class="light-text" st-table="displayedCollection" st-safe-src="rowCollection">
          <ul class="btn-list clearfix">
            <li><button type="button" class="btn btn-default btn-with-icon" ng-click="openUser()"><i class="ion-plus"></i>新增</button></li>
          </ul>
          
          <input st-search=""  type="text" class="form-control" placeholder="Search ..."/>
          
          <br/>
          <table  class="table table-hover table-bordered">
              <thead>
                <tr class="sortable black-muted-bg">
                    <th st-ratio="10" st-sort="username">登录名</th>
                    <th st-ratio="10" st-sort="nickName">用户名称</th>
                    <th st-ratio="10" st-sort="nickName">角色</th>
                    <th st-ratio="10" st-sort="phone">电话</th>
                    <th st-ratio="20" st-sort="email">邮箱</th>
                    <th st-ratio="20" st-sort="registerDate">创建时间</th>
                    <th st-ratio="10" st-sort="status">状态</th>
                    <th style="min-width: 110px;" st-sort="status">操作</th>
                </tr>
            </thead>
            <tbody ng-show="isLoading">
                <tr>
                  <td colspan="8" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tbody ng-show="!isLoading" >
                <tr ng-repeat="row in displayedCollection">
                   <td>{{row.username}}</td>
                   <td>{{row.nickName}}</td>
                   <td>
                       <div ng-repeat="item in row.roles" style="white-space: nowrap;">{{item.name}}</div>
                   </td>
                   <td>{{row.phone}}</td>
                   <td>{{row.email}}</td>
                   <td>{{row.registerDate}}</td>
                   <td>{{row.status|translate:'userStatus'}}</td>
                   <td>
                      <a href="javascript:void(0);" ng-click="openUser(row)" style="font-size: 20px;"><i class="ion-edit"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="resetPass(row)" style="font-size: 20px;"><i class="ion-ios-refresh-outline"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="deleteUser(row)" style="font-size: 20px;"><i class="ion-trash-b"></i></a>
                  </td>
                </tr>
            </tbody>
        </table>
        <div st-items-by-page="10" st-pagination="" st-template="app/theme/components/page/pagination.custom.html"></div>
      </div>
    </div>
  </div>

  
</div>