<div class="widgets">
     
  <div class="row">
      <div ba-panel ba-panel-title="Roe List" ba-panel-class="light-text" st-table="displayedCollection" st-safe-src="rowCollection">
          <ul class="btn-list clearfix">
            <li><button type="button" class="btn btn-default btn-with-icon" ng-click="openRole()"><i class="ion-plus"></i>Add</button></li>
          </ul>
          
          <input st-search=""  type="text" class="form-control" placeholder="Search ..."/>
          
          <br/>
          <table  class="table table-hover table-bordered">
              <thead>
                <tr class="sortable black-muted-bg">
                    <th st-ratio="20" st-sort="name">Role Name</th>
                    <th st-ratio="20" st-sort="code">Role Code</th>
                    <th st-ratio="30" st-sort="description">Description</th>
                    <th st-ratio="10" st-sort="status">Operation</th>
                    <th st-ratio="20">Permission Assignment</th>
                </tr>
            </thead>
            <tbody ng-show="isLoading">
                <tr>
                  <td colspan="7" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tbody ng-show="!isLoading" >
                <tr ng-repeat="row in displayedCollection">
                   <td>{{row.name}}</td>
                   <td>{{row.code}}</td>
                   <td>{{row.description}}</td>
                   <td>
                      <a href="javascript:void(0);" ng-click="openRole(row)" style="font-size: 20px;" title="update"><i class="ion-edit"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="deleteRole(row)" style="font-size: 20px;" title="delete"><i class="ion-trash-b"></i></a>
                  </td>
                  <td>
                      <button type="button" class="btn btn-info  btn-with-icon btn-sm" ng-click="assignUser(row)"><i class="ion-person-stalker"></i>Assign User</button>
                      &nbsp;&nbsp;
                      <button type="button" class="btn btn-info  btn-with-icon btn-sm" ng-click="assignModule(row)"><i class="ion-navicon-round"></i>Assign Permission</button>
                  </td>
                </tr>
                <tr ng-if="displayedCollection.length==0">
                    <td colspan="10">No data found</td>
                </tr>
            </tbody>
          </table>
          <div st-items-by-page="10" st-pagination="" st-template="app/theme/components/page/pagination.custom.html"></div>
      </div>
  </div>

  
</div>