<div class="widgets">
     
  <div class="row">
      <div ba-panel ba-panel-title="适用性库管理" ba-panel-class="light-text" st-table="displayedCollection" st-safe-src="rowCollection">
          <ul class="btn-list clearfix">
            <li><button type="button" class="btn btn-default btn-with-icon" ng-click="openApplicability()"><i class="ion-plus"></i>新增</button></li>
          </ul>
          <input st-search="name"  type="text" class="form-control" placeholder="Search for name ..."/>
          <br/>
          <table  class="table table-hover table-bordered">
              <thead>
                <tr class="sortable black-muted-bg">
                    <th st-ratio="10" >序号</th>
                    <th st-ratio="30" st-sort="name">适用性库名称</th>
                    <th st-ratio="20" st-sort="type">标准库类型</th>
                    <th st-ratio="20" st-sort="description">描述</th>
                    <th st-ratio="10" st-sort="createTime" style="min-width: 160px;">创建时间</th>
                    <th st-ratio="10" >操作</th>
                </tr>
            </thead>
            <tbody ng-show="isLoading">
                <tr>
                  <td colspan="6" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tbody ng-show="!isLoading" >
                <tr ng-repeat="row in displayedCollection">
                   <td>{{$index+1}}</td>
                   <td>{{row.name}}</td>
                   <td>{{row.type}}</td>
                   <td>{{row.description}}</td>
                   <td>{{row.createTime}}</td>
                  <td>

                      <a href="javascript:void(0);" ng-click="openApplicability(row)" style="font-size: 20px;"><i class="ion-edit"></i></a>
                      &nbsp;&nbsp;
                      <a href="javascript:void(0);" ng-click="deleteApplicability(row)" style="font-size: 20px;"><i class="ion-trash-b"></i></a>
                  </td>
                </tr>
                <tr ng-if="displayedCollection.length==0">
                    <td colspan="10">No data found</td>
                </tr>
            </tbody>
          </table>
          <div st-items-by-page="10" st-pagination="" st-template="app/theme/components/page/pagination.custom.html"></div>
      </div>
  </div>

  
</div>