<div class="row" ng-controller="DeptListCtrl">
    <div class="col-md-3">
        <div ba-panel ba-panel-title="Dept. Tree" ba-panel-class="with-scroll light-text">
            <div js-tree="deptTreeConfig" should-apply="true" ng-model="deptData" tree="model.deptTree" tree-events-obj="deptTreeEvents"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div ba-panel ba-panel-title="Dept. List" ba-panel-class="with-scroll light-text">
            <p ng-show="!isSelectNode">Please select a department node on the left to view child nodes</p>
            <div ng-show="isSelectNode" st-table="displayedCollection" st-safe-src="rowCollection">
                <ul class="btn-list clearfix">
                    <li><button type="button" class="btn btn-default btn-with-icon" ng-click="openDept()"><i class="ion-plus"></i>Add</button></li>
                </ul>
                <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="sortable black-muted-bg">
                            <th st-sort="nickName">Dept. Name</th>
                            <th st-sort="username">Dept. Code</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="!isLoading" >
                        <tr ng-repeat="row in displayedCollection">
                            <td>{{row.name}}</td>
                            <td>{{row.code}}</td>
                            <td>
                                <a href="javascript:void(0);" ng-click="openDept(row)" style="font-size: 20px;" title="update"><i class="ion-edit"></i></a>
                                &nbsp;&nbsp;
                                <a href="javascript:void(0);" ng-click="deleteDept(row)" style="font-size: 20px;" title="delete"><i class="ion-trash-b"></i></a>
                            </td>
                        </tr>
                        <tr ng-if="displayedCollection.length==0">
                            <td colspan="10">No data found</td>
                        </tr>
                    </tbody>
                </table>
                <div st-items-by-page="10" st-pagination="" st-template="app/theme/components/page/pagination.custom.html"></div>
            </div>
        </div>
    </div>
</div>